.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--ion-color-light);
    padding: 10px 0;
    border-top: 1px solid var(--ion-color-medium);
}

.section {
  margin-bottom: 80px; // Espacio para el menú inferior
}