<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Listo para comenzar tu entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Sección de Inicio Rápido -->
  <div class="section">
    <h2>Inicio rápido</h2>
    <ion-button 
      expand="block" 
      color="secondary" 
      (click)="goToWorkout()" 
      class="ion-margin-top">
      COMENZAR ENTRENAMIENTO VACÍO
    </ion-button>
  </div>

  <!-- Menú inferior alternativo -->
  <ion-grid class="bottom-menu">
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="clear" routerLink="/exercises">
          <ion-icon name="barbell"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- <ion-col>
        <ion-button expand="block" fill="clear" routerLink="/history">
          <ion-icon name="time"></ion-icon>
        </ion-button>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>